@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rc-slider {
  height: auto !important;
}

.rc-slider-handle:active {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5) !important;
}

#nprogress .bar {
  @apply bg-red-500;
}

#nprogress .spinner-icon {
  @apply border-t-red-500 border-l-red-500;
}

#nprogress .spinner-icon-inner {
  @apply bg-red-500;
}

#nprogress .peg {
  @apply shadow-md shadow-red-500/50;
}
